body {
	color:white;
	background:url("black.png") no-repeat center center fixed;
	background-size:cover;
	height:100%;
	width:100%;
	margin:auto;
	text-align:center;
	font-family:batang;
}
article {
	font-size:350%;
}
#menuText,#totalTime {
	position:absolute;
}
#menuText {
	font-size:70%;
	left:10px;
	top:40px;
}
#totalTime {
	right:10px;
	top:80px;
}
#timetable {
	font-size:80%;
}
footer {
	font-size:70%;
}
.disabled {
	color:rgb(30,30,30);
}